
.dark_poster{
  position: relative;
 
}


  .details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }


  .poster {
    height: 320px; /* Imposta l'altezza desiderata */
    width: 100%; /* Assicurati che l'immagine occupi tutta la larghezza */
    object-fit: cover; /* L'immagine si adatta all'area mantenendo le proporzioni */
  }


.dark_poster:hover .details{
  opacity: 0.9;
  
}



